{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <section class="slogan">
        <h1 class="display-3 text-center pb-3">
        Welcome to <span class="text-primary">App</span>
        Note anything.
        </h1>
    </section>


    <div class="container">
        <h2>Verify Your Account</h2>
        <form method="POST" action="{{ url_for('verify_user', email_address=email_address) }}">
            <input class="form-control mb-3" type="text" name="otp" placeholder="Enter OTP" required>
            <button class="btn btn-primary" type="submit">Verify</button>
        </form>
        <br/>
    </div>
</div>




{% endblock%}


{% block footer %}
    
{% endblock %}